#activity-page-container {
  position: fixed;
  top: 0;
  left: 2rem;
  width: calc(100vw - 2rem);
  height: 100vh;
  overflow-y: auto;
  transition: width 0.3s ease, left 0.3s ease;
}

#activity-page-container.open {
  left: calc(360px + 2rem);
  width: calc(100vw - 360px - 2rem);
}

#activity-container {
  margin: 2rem 2rem 4rem;
}

.activity-header {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 1.5rem;
}

.activity-header > h1 {
  margin: 0;
}
