.activity-wheel-container {
  position: relative;
  margin: 2rem;
  border-radius: 9999px;
  justify-self: center;
}

.activity-wheel {
  width: 100%;
  height: 100%;
}

.activity-wheel-pointer {
  position: absolute;
  top: 50%;
  right: 0;
  object-fit: contain;
  transform: scaleX(0.7) translate(100%, -50%);
  z-index: 1;
  padding: 0;
}

.activity-wheel-pointer > path {
  fill: var(--mui-palette-error-main);
}
