.activity-icon-container {
  width: 100px;
  height: 100px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.activity-icon-container.null-icon {
  background-color: #ffaaaa;
}

.activity-icon-container.strategy-and-problem-solving-icon {
  background-color: #d1e59d;
}

.activity-icon-container.code-along-icon {
  background-color: #f29b7e;
}

.activity-icon-container.build-along-icon {
  background-color: #7ec9f2;
}

.activity-icon-container.challenge-round-icon {
  background-color: #f2de7e;
}

.activity-icon-container.random-icon {
  background-color: #f29b7e;
}

.activity-icon-container.end-icon {
  background-color: #c483a0;
}

.activity-icon {
  width: 65%;
  height: 65%;
  object-fit: contain;
}

.activity-icon-symbol {
  font-size: 3rem;
  line-height: 1;
}

.activity-icon.null-icon {
  transform: translateY(-5%);
}

.activity-icon.strategy-and-problem-solving-icon {
  transform: translateY(-2%);
}

.activity-icon.build-along-icon {
  transform: translateY(-3%);
}

.activity-icon-symbol.challenge-round-icon {
  font-size: 3.4rem;
}
