.activity-card-editable-container {
  position: relative;
  border: 1px solid #ffffff40;
  border-radius: 10px;
  padding: 1em;
  width: 400px;
  transition: background-color 0.2s ease;
}

.activity-card-editable-container.hovered {
  background-color: #ffffff20;
}

.activity-card-editable-header {
  margin-top: 0;
  font-size: 2em;
  margin-bottom: -0.2em;
}

.activity-card-editable-subheader {
  margin-bottom: 0em;
}

.activity-card-editable-duration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-top: 0em;
}

.activity-card-editable-delete {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.activity-card-editable-delete.hovered {
  opacity: 1;
}

.activity-card-editable-change-activity {
  border-radius: 10px;
  transition: background-color 0.2s ease;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.activity-card-editable-change-activity:hover {
  cursor: pointer;
  background-color: #ffffff10;
}
