.activity-card-draggable-wrapper.dragged {
  opacity: 0.5;
}

.activity-card-droppable {
  width: 110%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-card-droppable-indicator {
  width: 100%;
  height: 3px;
}

.activity-card-droppable-indicator.dragged-over {
  background-color: #6f4ff9;
}
