@keyframes current-activity-background-pulse {
  0% {
    background-color: #ffffff18;
  }
  50% {
    background-color: #ffffff30;
  }
  100% {
    background-color: #ffffff18;
  }
}

.activity-card-container {
  border: 1px solid #ffffff40;
  border-radius: 10px;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.activity-card-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
}

.activity-card-subheader {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.activity-card-container > .activity-icon-container {
  width: 80px;
  height: 80px;
}

.activity-card-container.current {
  animation: current-activity-background-pulse 1.5s ease-in-out infinite;
}

.activity-card-container.finished > * {
  opacity: 0.3;
}
