:root {
  --button-border-radius: 8px;
}

button {
  border-radius: var(--button-border-radius);
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.25s;
  user-select: none;
}

button:hover {
  background-color: var(--secondary-hover-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  cursor: default;
}

button:disabled:hover {
  background-color: var(--secondary-color);
}

button.primary,
button.primary:disabled:hover {
  background-color: var(--primary-color);
}

button.primary:hover {
  background-color: var(--primary-hover-color);
}
