.modal-outside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 0.6em 1.2em;
}

.extend-timer-dialog-container {
  width: 400px;
}