#add-activity {
  margin-bottom: 2rem;
}

#starting-page-footer-hr {
  margin-bottom: 2rem;
  border: none;
  border-top: 1px solid #ffffff40;
}

#starting-page-footer {
  position: sticky;
  width: 85vw;
  justify-self: center;
  bottom: -1px;
  padding-bottom: 2rem;
  background-color: var(--background-color);
  z-index: 1000;
}
