#starting-page-footer {
  position: sticky;
  width: 100vw;
  justify-self: center;
  bottom: -1px;
  padding-bottom: 2rem;
  background-color: var(--background-color);
  z-index: 1000;
}

#starting-page-footer-hr {
  width: 85%;
  margin-bottom: 2rem;
  border: none;
  border-top: 1px solid var(--border-color);
}
