.timetable-settings-header {
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}

.timetable-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-activity {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
