.timetable-settings-header {
  margin-top: 1.5rem;
}

.timetable-cards {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#add-activity {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
