.timetable-settings-header {
  margin-top: 1.5em;
  margin-bottom: calc(-0.667em);
}

.timetable-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.MuiButton-root {
  gap: 0.3em;
}
