.time-chunk-card-container {
  border-radius: 10px;
  border: 1px solid #ffffff40;
  padding: 1em;
  width: calc(100% - 2em);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.25s;
}

.time-chunk-card-container:hover {
  background-color: #ffffff20;
}

.time-chunk-card-header {
  margin-top: 0;
  font-size: 1.5em;
}

.time-chunk-edit {
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  gap: 0.2em;
  align-items: center;
  justify-content: center;
}