#timetable-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #ffffff40;
  background-color: var(--background-color);
}

#timetable-chunks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: calc(6em - 20px);
}

/* #button-add-chunk {
  position: fixed;
  bottom: 1em;
  left: calc(
    175px - 0.5em - 0.5em
  );
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 9999px;
  box-shadow: 0 0 1.5em black;
} */

#button-add-chunk {
  position: fixed;
  bottom: 1em;
  left: calc(
    175px - 0.5em - 0.5em
  );
  font-size: 1.5em;
}

.time-chunk-card-draggable-wrapper {
  width: 100%;
}

.time-chunk-card-draggable-wrapper.dragged {
  width: 100%;
  opacity: 0.5;
}

.time-chunk-drop-target {
  background-color: transparent;
  width: 110%;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-chunk-drop-target-indicator {
  background-color: transparent;
  width: 100%;
  height: 2px;
}

.time-chunk-drop-target-indicator.dragged-over {
  background-color: #644ff9;
}
