#root {
  max-width: 1280px;
  min-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-container {
  position: absolute;
  top: 0;
  left: 350px;
  width: calc(100vw - 350px - 40px - 40px);
  min-width: 600px;
  height: 100vh;
}

.activity-container-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-top: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px - 2 * 2em);
  overflow: hidden;
  width: 100%;
  padding: 2em;
  z-index: 0;
}

.activity-container {
  overflow-x: hidden;
  overflow-y: auto;
}
