#root {
  margin: 0 auto; 
  text-align: center;
}

#toggle-theme {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  background-color: var(--mui-palette-background-inverse);
  color: var(--mui-palette-text-inverse);
}